.news {
  font-size: 2rem;
  color: var(--light);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2rem;
}

.news-header {
  width: 100%;
  min-height: 7rem;
  background-color: var(--black);
  border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.logo {
  font-family: 'Bree Serif', serif;
  font-weight: lighter;
  font-size: 5rem;
  color: var(--primary);
  text-shadow: var(--size-1) var(--size-1) var(--size-1) var(--light);
}

.search-bar {
  position: relative;
}

.search-bar input {
  width: 25rem;
  height: 4rem;
  color: var(--light);
  background-color: var(--dark);
  border: none;
  border-radius: var(--border-radius-sm);
  padding: 0 4rem 0 2rem;
  transition: width 0.3s;
}

.search-bar input:focus {
  width: 35rem;
}

.search-bar input:focus::placeholder {
  color: transparent;
}

.search-bar button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: var(--light);
  font-size: 1.8rem;
}

.news-content {
  display: flex;
  column-gap: 2rem;
  height: calc(100% - 16rem);
  padding: 0 2rem;
}

.navbar {
  width: 18rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.user {
  width: 100%;
  height: 20%;
  background-color: var(--black);
  border-radius: var(--border-radius-lg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  cursor: pointer;
}

.user img {
  width: 7rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.categories {
  width: 100%;
  height: calc(80% - 2rem);
  background-color: var(--black);
  border-radius: var(--border-radius-lg);
}

.news-section {
  width: clamp(30rem, 43cqi, 40%);
  height: 100%;
  border-radius: var(--border-radius-lg);
}

.headline {
  width: 100%;
  height: calc(50% - 2rem);
  background-color: var(--black);
  border-radius: var(--border-radius-lg);
  margin-bottom: 2rem;
}

.news-grid {
  width: 100%;
  height: 50%;
  background-color: var(--black);
  border-radius: var(--border-radius-lg);
}

.my-blogs {
  width: clamp(20rem, 27cqi, 28%);
  height: 100%;
  background-color: var(--black);
  border-radius: var(--border-radius-lg);
}

.weather-calendar {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.news-footer {
  width: 100%;
  min-height: 5rem;
  background-color: var(--black);
  border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
}

@media (max-width: 1400px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 900px) {
  .news {
    height: 100%;
  }
  .news-content {
    flex-direction: column;
    width: 100%;
    height: 200rem;
    row-gap: 2rem;
  }
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 18rem;
  }
  .user {
    width: calc(30% - 2rem);
    height: 100%;
  }
  .categories {
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    row-gap: 1rem
  }
  .news-section {
    width: 100%;
  }
  .my-blogs {
    width: 100%;
  }
  .weather-calendar {
    flex-direction: row;
    column-gap: 2rem;
  }
}
@media (max-width: 500px) {
  .news-header {
    padding: 0 2rem;
  }
  .logo {
    font-size: 3.5rem;
  }
  .search-bar input {
    width: 18rem;
  }
  .search-bar input:focus {
    width: 23rem;
  }
  .navbar {
    flex-direction: column;
    height: 30rem;
    margin-bottom: 2rem;
  }
  .user {
    width: 100%;
    min-height: 40%;
  }
  .categories {
    width: 100%;
  }
  .weather-calendar {
    flex-direction: column;
  }
  .news-footer {
    min-height: 8rem;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
  }
}
