@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Smooch+Sans:wght@100..900&display=swap');

* {
  font-family: 'Smooth Sans', sans-serif;
  font-weight: 300;
}

:root {
  --light-1: #fff1e0;
  --light-2: #fff9f5;
  --support: #f2dfce; 
  --gold: #ac9304;
  --main: #0d7680;
  --main-light: #18cbdc;
  --main-dark: #0a585f;  
  --dark: #111;
  --grey-dark: #333;
  --grey-light: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: var(--light-2);
  display: grid;
  place-items: center;
}

.news-blogs-app {
  width: 95vw;
  height: 95vmin;
  background-color: var(--light-1);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.news {
  font-size: 2rem;
  color: var(--grey-dark);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2rem;
}

.news-header {
  width: 100%;
  min-height: 7rem;
  border-bottom: 0.1rem dotted var(--support);
  border-radius: 1rem 1rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items:  center;
  padding: 0 4rem;
}

.logo {
  font-family: 'Amatic SC', sans-serif;
  font-size: 5rem;
  color: var(--main);
}

.search-bar {
  position: relative;
}

.search-bar input {
  width: 25rem;
  height: 4rem;
  background-color: transparent;
  border: 0.1rem dotted var(--grey-dark);
  border-radius: 0.3rem;
  padding: 0 4rem 0 2rem;
  color: var(--main);
  transition: width 0.3s;
}

.search-bar input:focus {
  width: 35rem;
}

.search-bar input:focus::placeholder {
  color: transparent;
}

.search-bar button {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: var(--main);
  font-size: 1.8rem;
  cursor: pointer;
  padding-top: 0.5rem;
}


@media (max-width: 1400px) {
  html {
    font-size: 59%;
  }
} 

@media (max-width: 900px) {
  .news-blogs-app {
    height: 100%;
    max-height: 90vh;
  }
} 

@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
} 